@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  max-width: 100%;
  background-color: rgb(233, 237, 238);
}
#logo-block {
  max-height: 90px;
  background-color: rgb(34, 47, 63);
}
#logo {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 140px;
}

#second-block {
  background-color: rgb(54, 71, 89);
}
#first-list {
  cursor: pointer;
  display: inline;
  color: white;
}
#first-list li {
  display: inline-block;
  margin: 1%;
}
#holyday-block {
  background-color: #f56600;
  margin: 2%;
}
#holyday-block p {
  color: white;
  padding: 1%;
  text-align: center;
}

#third-block {
  background-image: url(../images/bg-image.png);
  padding: 5%;
  margin: 2%;
}

#guides {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#gifter {
  color: white;
  font-weight: 700;
  margin: 1.5%;
  text-align: center;
}
#fourth-block {
  background-color: white;
  margin: 2%;
}
#second-list li {
  margin: 1%;
  display: inline-block;
}
#first-element {
  font-size: 25px;
  padding: 1%;
  font-weight: 600;
}
#second-element {
  color: rgb(18, 96, 113);
  font-weight: 700;
  font-size: 20px;
}
#image-container {
  text-align: center;
}
#image-container div {
  cursor: pointer;
  display: inline-block;
  width: 22%;
  aspect-ratio: 4/5;
  margin: 1%;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #00000036;
}
.image-gift1 {
  background-image: url(../images/img_1.jpg);
  background-position: center;
  background-size: cover;
}
.image-gift2 {
  background-image: url(../images/img_2.jpg);
  background-position: center;
  background-size: cover;
}
.image-gift3 {
  background-image: url(../images/img_3.jpg);
  background-position: center;
  background-size: cover;
}
.image-gift4 {
  background-image: url(../images/img_4.jpg);
  background-position: center;
  background-size: cover;
}
.promo-div {
  margin: 2%;
  text-align: center;
}
.promo-div img {
  cursor: pointer;
  width: 100%;
}
.promo-list {
  margin-top: -1%;
  display: inline-block;
  width: 100%;
}
.promo-list li {
  margin: 1%;
  display: inline-block;
}
.promo-text {
  font-size: 22px;
  padding: 1%;
  font-weight: 600;
}
.shop-text {
  color: rgb(18, 96, 113);
  font-weight: 700;
  font-size: 18px;
}
.shop-text a {
  text-decoration: none;
  color: rgb(18, 96, 113);
}

#back-to-top {
  text-align: center;
  background-color: rgb(54, 71, 89);
  padding: 1%;
}
#back-to-top a {
  color: white;
  font-size: medium;
  font-weight: 600;
}
#footer-logo {
  background-color: rgb(34, 47, 63);
  text-align: center;
}
#footer-logo img {
  cursor: pointer;
  width: 160px;
  margin: 60px;
}
